@keyframes blue-an {
    0% {color: aquamarine;}
    25% {color: rgb(3, 173, 173);}
    50% {color: aqua;}
    100% {color: aquamarine;}
}
body {
    background-image: linear-gradient(180deg, green, rgb(121, 68, 7))
}
.CookieHeader p {
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Courgette", cursive;
    animation-name: blue-an;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.CookieHeader {
    border: 2px;
    background-color: rgb(51, 51, 51);
    border-radius: 12px;
    border-style: ridge;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.chat-box {
    border: 3px solid black;
    margin-top: 10px;
    width: 80%;
    height: 82vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #b3b3b3;
    border-style: ridge;
}
.input-box-fixed {
    padding: 0;
    padding-bottom: 3.5%; 
    border: 2px solid transparent;
}
#input-box {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#type {
    border-radius: 20px;
    background-color: 6770F0;
    width: 65vw;
    height: 3vh
}
#submit {
    background-color: green;
    color: white;
}